@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    margin: 0;
    font-family: 'Sora', sans-serif;
}

header {
    background-color: #07592B;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #12402663;
}

header img#logoEeep {
    width: 86px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 10px 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > a::after {
    content: "▼";
    font-size: 0.8em;
    color: white;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown:hover > a::after {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F2F2F2;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    padding: 0;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding: 12px 16px;
    color: black;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid darkgray;
    margin: 10px;
    transition: font-weight 0.3s;
}

.submenu a:hover {
    font-weight: bold;
}

.submenu a:active {
    color: #cb6115;
}


.submenu a:last-child {
    border-bottom: none;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #E6E6E6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    color: #cb6115;
    font-size: 1.8em;
    text-align: center;
}

main h2 {
    font-size: 1.3em;
    color: white;
    background-image: linear-gradient(to right, #df7021, transparent);
    text-indent: 8px;
}

li{
    margin-bottom: 15px;
}

main h2.align-right {
    background-image: linear-gradient(to left, #df7021, transparent);
    text-align: right;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 0.9em;
    line-height: 2em;
}

.matricula{
    width: 100vw; 
    height: calc(100vh - 200px); 
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    background-color: #ffffff;
    margin-top: 0;
    border-radius: 0;
}

.esquerda {
    flex: 1; /* Ocupa metade do espaço (ajuste se quiser mais/menos) */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.titulo{
    color: #df7021;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 20px;
    margin-top: 7px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #124026;
    color: rgb(250, 249, 249);
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
  
   
}

.direita {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#foto-matricula {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    
}

#adm{
    text-align: center;
}


footer {
    background-color: #124026;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    clear: both;
}